		.container-fluid{
			background: gainsboro;
		}
		header{
			background:		#B0C4DE;
			padding: 10px; 
			border-radius: 8px;
		}
		header h2{
			font-family: sans-serif,arial,serif;
			text-align: center;
		}
		form{
			text-align: center;
			width: 400px;
			background: lightgray;
			padding: 10px;
			margin: 2% auto;
			border: 1px solid black;
			box-shadow: 1px 1px 2px black;
		}
		.stud{
			text-align: center;	
			padding: 10px;
			background:	white;
			box-shadow: 1px 1px 2px black;
				
		}
		.stud a{
			color: black;
		}

		.stud a:hover{
			background: lavender;
			color: blue;
			padding: 5px;
			border-radius: 8px;
			text-decoration: none;
			transition: 1s;
		}
		.footer{
			text-align: center;
		}